@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-size: 12px;
}

html table > tbody > tr > td,
body table > tbody > tr > td {
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  max-width: 160px;
}

html .btn,
body .btn {
  border: 1px solid #c9c9c9;
  color: #4a4a4a;
  background-color: #fff;
}

html .btn:hover,
body .btn:hover {
  background-color: #233646;
  color: #dbdba9;
}

html .btn:active,
body .btn:active {
  background-color: #211528;
  color: #dbdba9;
}

html .btn.disable,
body .btn.disable {
  background-color: #233646;
  color: #717171;
}

html .commonMagagement,
body .commonMagagement {
  padding: 10px;
}

html .commonMagagement .form-control,
body .commonMagagement .form-control {
  height: 36px;
}

html hr,
body hr {
  margin: 10px 0;
}

html .form-group,
body .form-group {
  margin-bottom: 8px;
}

html select,
body select {
  max-width: 200px;
  min-width: 60px;
  outline: none;
}

html input,
body input {
  outline: none;
}
