body {
  overflow: hidden;
}

body header {
  height: 60px;
  background-color: #000;
}

body header img {
  display: block;
  padding-top: 30px;
  padding-left: 20px;
}

body footer {
  margin-bottom: 0px;
}

body footer .logo {
  display: block;
  margin: 0 auto;
}

#login-container {
  width: 480px;
  height: 380px;
  margin: 120px auto;
  font-family: "simSon";
}

#login-container h3,
#login-container h4 {
  text-align: center;
  margin-bottom: 20px;
  color: #65686F;
  font-weight: 900;
  letter-spacing: 2px;
}

#login-container #kandao-login .emailBox {
  position: relative;
}

#login-container #kandao-login .emailBox .emailMessage {
  display: none;
  color: red;
  font-size: 12px;
  position: absolute;
  right: -70px;
  top: 5px;
}

#login-container #kandao-login .emailBox .emailMessage b {
  font-size: 14px;
  vertical-align: middle;
}

#login-container .login-userInfo {
  width: 480px;
  height: 320px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px #ccc;
  padding: 30px 100px;
}

#login-container .login-userInfo img {
  width: 70px;
  height: 34px;
  display: block;
  cursor: pointer;
}

#login-container .login-userInfo .forgetPass a {
  color: #41C7DB;
}

#login-container .login-userInfo .btn-default {
  margin-top: 5px;
  color: #999;
  font-size: 900;
  background-color: #F5F5F5;
}

#login-container .login-userInfo .btn-default:hover {
  background-color: #212629;
  color: #fff;
}

#loginMessage {
  margin-top: 200px;
}

#loginMessage p.loginProgess {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 700;
}

.resetPass form .form-group,
.resetPass .btnBox {
  margin-top: 10px;
}

.resetPass .input-group-addon {
  width: 100px;
}

.resetPass .getCode {
  cursor: pointer;
}

.resetPass .glyphicon-ok-sign,
.resetPass .glyphicon-remove-sign {
  display: none;
}

.resetPass .glyphicon-ok-sign {
  color: #00CC00;
}

.resetPass .glyphicon-remove-sign {
  color: red;
}

#sucessMessage .modal-content {
  width: 300px;
  height: 240px;
}

#sucessMessage .bodyBox {
  margin: 0 auto;
}

#sucessMessage .userEmail,
#sucessMessage .passComplete {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 70px;
}

#sucessMessage .glyphicon-saved {
  margin-top: 40px;
  font-size: 40px;
  margin-left: 120px;
}

#sucessMessage .passComplete {
  font-weight: 900;
  margin-left: 90px;
}
