<div class="modal fade websiteDialog" tabindex="-1" role="dialog" id="reportEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="chooseLang" style = "display:none">
                    <label class="col-sm-3 control-label text-ringht">选择语言</label>
                    <div class="language col-sm-9">
                        <select name="language" class="form-control">
                            <option value="ZH-CN">中文</option>
                            <option value="EN-US">English</option>
                        </select>
                    </div>
                </div>
                <div class="form-horizontal reportFrom" id="reportEditFromCn">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">新闻标题</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="title" value="{{title}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">缩略图</label>
                        <div class="col-sm-8">
                            <!--<input type="file" id="scaleImg"> (建议使用16:9的格式图片)
                                    -->
                            <div class="page-header">
                                <form id="reportEditImgCn">
                                    <div class="form-group reportUpload" id="reportEditupload" enctype="multipart/form-data">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail">
                                                {{if thumbnail_uri}}
                                                <img id="picImg" src="{{thumbnail_uri}}" alt="">
                                                {{else}}
                                                <img id="picImg" src="img/giveJpg.jpg" alt="">                                                
                                                {{/if}}
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div>
                                                <span class="btn btn-file">
                                                        <span class="fileinput-new">重新上传</span>
                                                <span class="fileinput-exists">更换</span>
                                                <input type="file" name="pic1" accept="image/jpg">
                                                </span>
                                                <a href="javascript:;" class="btn fileinput-exists" data-dismiss="fileinput">删除</a>
                                                <!--<button type="button" id="uploadSubmit" class="btn">提交</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">新闻来源</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="{{source}}" name="source">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">链接</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="{{source_url}}" name="source_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">新闻简介</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" name="description">{{description}}</textarea>
                        </div>
                    </div>
                    <div class="createInfo">
                        <div class="form-group">
                            <label class="col-md-6">创建者:</label>
                            <p class="form-control-static col-md-6">{{creator}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">创建时间:</label>
                            <p class="form-control-static col-md-6">{{date_created}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">最近一次修改者:</label>
                            <p class="form-control-static col-md-6">{{lastmodifier}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">最近一次修改时间:</label>
                            <p class="form-control-static col-md-6">{{date_modified}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-7">
                            <button class="btn btn-md btnSave uploadSubmit">保存</button>
                            <button class="btn btn-md" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal reportFrom" id="reportEditFromEn">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" name="title" value="{{title}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Thumbnail</label>
                        <div class="col-sm-8">
                            <!--<input type="file" id="scaleImg"> (建议使用16:9的格式图片)
                                        -->
                            <div class="page-header">
                                <form id="reportEditImgEn">
                                    <div class="form-group reportUpload" id="reportEditupload" enctype="multipart/form-data">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail">
                                                    {{if thumbnail_uri}}
                                                    <img id="picImg" src="{{thumbnail_uri}}" alt="">
                                                    {{else}}
                                                    <img id="picImg" src="img/giveJpg.jpg" alt="">                                                
                                                    {{/if}}
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div>
                                                <span class="btn btn-file">
                                                            <span class="fileinput-new">Reupload</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="pic1" accept="image/jpg">
                                                </span>
                                                <a href="javascript:;" class="btn fileinput-exists" data-dismiss="fileinput">Delete</a>
                                                <!--<button type="button" id="uploadSubmit" class="btn">提交</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">News sources</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="source" value="{{source}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">URL</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="{{source_url}}" name="source_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">News Summary</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" name="description">{{description}}</textarea>
                        </div>
                    </div>
                    <div class="createInfo">
                        <div class="form-group">
                            <label class="col-md-6">创建者:</label>
                            <p class="form-control-static col-md-6">{{creator}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">创建时间:</label>
                            <p class="form-control-static col-md-6">{{date_created}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">最近一次修改者:</label>
                            <p class="form-control-static col-md-6">{{date_modified}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">最近一次修改时间:</label>
                            <p class="form-control-static col-md-6">{{date_modified}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-7">
                            <button class="btn btn-md btnSave uploadSubmit">Save</button>
                            <button class="btn btn-md" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>