<div class="workKey">
    <h4>有效密钥</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>密钥</th>
                <th>主机</th>
                <th>激活时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{each licenses}} {{if $value.state=="0"}}
            <tr keyId="{{$value.id}}" state="{{$value.state}}">
                <td class="key">{{$value.key}}</td>
                <td class="host">{{$value.host}}</td>
                <td>{{$value.active_time}}</td>
                <td>
                    <button type="button" class="btn keyState">{{$value.state==0?"冻结":"激活"}}</button>
                </td>
            </tr>
            {{/if}} {{/each}}
        </tbody>
    </table>
</div>
<div class="noWorkKey">
    <h4>无效密钥</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>密钥</th>
                <th>主机</th>
                <th>激活时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{each licenses}} {{if $value.state=="1"}}
            <tr keyId="{{$value.id}}" state="{{$value.state}}">
                <td class="key">{{$value.key}}</td>
                <td class="host">{{$value.host}}</td>
                <td>{{$value.active_time}}</td>
                <td>
                    <button type="button" class="btn keyState">{{$value.state==0?"冻结":"激活"}}</button>
                </td>
            </tr>
            {{/if}} {{/each}}
        </tbody>
    </table>
</div>