<ol class="breadcrumb">
    <li>首页</li>
    <li>账号管理</li>
    <li class="active">密钥</li>
</ol>
<div class="kandao-secretKey commonMagagement">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="kandao-top-info clearfix">
                <div class="pull-left"><span>姓名:{{name}}</span>
                    <span>公司:{{company}}</span>
                    <span>邮箱:{{email}}</span></div>
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-md btn-goback">返回</button>
                </div>
            </div>
            <div class="keyContent">
                <div class="workKey">
                    <h4>有效密钥</h4>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>密钥</th>
                                <th>主机</th>
                                <th>激活时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{each licenses}} {{if $value.state=="0"}}
                            <tr keyId="{{$value.id}}" state="{{$value.state}}">
                                <td class="key">{{$value.key}}</td>
                                <td class="host">{{$value.host}}</td>
                                <td>{{$value.active_time}}</td>
                                <td>
                                    <button type="button" class="btn keyState">{{$value.state==0?"冻结":"激活"}}</button>
                                </td>
                            </tr>
                            {{/if}} {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="noWorkKey">
                    <h4>无效密钥</h4>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>密钥</th>
                                <th>主机</th>
                                <th>激活时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{each licenses}} {{if $value.state=="1"}}
                            <tr keyId="{{$value.id}}" state="{{$value.state}}">
                                <td class="key">{{$value.key}}</td>
                                <td class="host">{{$value.host}}</td>
                                <td>{{$value.active_time}}</td>
                                <td>
                                    <button type="button" class="btn keyState">{{$value.state==0?"冻结":"激活"}}</button>
                                </td>
                            </tr>
                            {{/if}} {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>